        *, *::before, *::after {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }
        body {
            min-height:100vh;
            background:white;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: inherit;
    &:visited{
        color: inherit;
    }
}
li{
    list-style-type: none;
}
      